<div class="galeria">
  <ul>

      <img (click)="kliknietoElement(0)" [class.active]="numerWybranegoObrazka == 0"
          src="../assets/poster4.jpg" alt="Gwiezdne wojny: część IV – Nowa nadzieja" class="thumb">

      <img (click)="kliknietoElement(1)" [class.active]="numerWybranegoObrazka == 1"
          src="../assets/poster5.jpg" alt="Gwiezdne wojny: część V – Imperium kontratakuje" class="thumb">

      <img (click)="kliknietoElement(2)" [class.active]="numerWybranegoObrazka == 2"
          src="../assets/poster6.jpg" alt="Gwiezdne wojny: część VI – Powrót Jedi" class="thumb">

          <img (click)="kliknietoElement(3)" [class.active]="numerWybranegoObrazka == 3"
          src="../assets/poster1.jpg" alt="Gwiezdne wojny: część I – Mroczne widmo" class="thumb">

          <img (click)="kliknietoElement(4)" [class.active]="numerWybranegoObrazka == 4"
          src="../assets/poster2.jpg" alt="Gwiezdne wojny: część II – Atak klonów" class="thumb">
          <img (click)="kliknietoElement(5)" [class.active]="numerWybranegoObrazka == 5"
          src="../assets/poster3.jpg" alt="Gwiezdne wojny: część III – Zemsta Sithów" class="thumb">

      <br />

      <img [class.show]="numerWybranegoObrazka ==0" src="../assets/poster4.jpg" alt="Gwiezdne wojny: część IV – Nowa nadzieja" class="preview">
      <p *ngIf="numerWybranegoObrazka ==0" class="movietitle">Gwiezdne wojny: część IV – Nowa nadzieja</p>
      <img [class.show]="numerWybranegoObrazka ==1" src="../assets/poster5.jpg" alt="Gwiezdne wojny: część V – Imperium kontratakuje" class="preview">
      <p *ngIf="numerWybranegoObrazka ==1" class="movietitle">Gwiezdne wojny: część V – Imperium kontratakuje</p>
      <img [class.show]="numerWybranegoObrazka ==2" src="../assets/poster6.jpg" alt="Gwiezdne wojny: część VI – Powrót Jedi" class="preview">
      <p *ngIf="numerWybranegoObrazka ==2" class="movietitle">Gwiezdne wojny: część VI – Powrót Jedi</p>
      <img [class.show]="numerWybranegoObrazka ==3" src="../assets/poster1.jpg" alt="Gwiezdne wojny: część I – Mroczne widmo" class="preview">
      <p *ngIf="numerWybranegoObrazka ==3" class="movietitle">Gwiezdne wojny: część I – Mroczne widmo</p>
      <img [class.show]="numerWybranegoObrazka ==4" src="../assets/poster2.jpg" alt="Gwiezdne wojny: część II – Atak klonów" class="preview">
      <p *ngIf="numerWybranegoObrazka ==4" class="movietitle">Gwiezdne wojny: część II – Atak klonów</p>
      <img [class.show]="numerWybranegoObrazka ==5" src="../assets/poster3.jpg" alt="Gwiezdne wojny: część III – Zemsta Sithów" class="preview">
      <p *ngIf="numerWybranegoObrazka ==5" class="movietitle">Gwiezdne wojny: część III – Zemsta Sithów</p>


  </ul>
</div>
<footer>
    <div class="row">
      <div class="yellow-line"></div>
    </div>
    </footer>

