<div class="galeria">
  <ul>

      <img (click)="kliknietoElement(0)" [class.active]="numerWybranegoObrazka == 0"
          src="https://images-na.ssl-images-amazon.com/images/I/A1wnJQFI82L._SY679_.jpg" alt="Gwiezdne wojny: część IV – Nowa nadzieja" class="thumb">

      <img (click)="kliknietoElement(1)" [class.active]="numerWybranegoObrazka == 1"
          src="https://images-na.ssl-images-amazon.com/images/I/71tglII26nL._SY679_.jpg" alt="Gwiezdne wojny: część V – Imperium kontratakuje" class="thumb">

      <img (click)="kliknietoElement(2)" [class.active]="numerWybranegoObrazka == 2"
          src="https://images-na.ssl-images-amazon.com/images/I/51UdiBUkerL.jpg" alt="Gwiezdne wojny: część VI – Powrót Jedi" class="thumb">

          <img (click)="kliknietoElement(3)" [class.active]="numerWybranegoObrazka == 3"
          src="https://images-na.ssl-images-amazon.com/images/I/51dnPvQrJ6L.jpg" alt="Gwiezdne wojny: część I – Mroczne widmo" class="thumb">

          <img (click)="kliknietoElement(4)" [class.active]="numerWybranegoObrazka == 4"
          src="https://m.media-amazon.com/images/M/MV5BMDAzM2M0Y2UtZjRmZi00MzVlLTg4MjEtOTE3NzU5ZDVlMTU5XkEyXkFqcGdeQXVyNDUyOTg3Njg@._V1_.jpg" alt="Gwiezdne wojny: część II – Atak klonów" class="thumb">
          <img (click)="kliknietoElement(5)" [class.active]="numerWybranegoObrazka == 5"
          src="https://images-na.ssl-images-amazon.com/images/I/61nAp2cNlbL._SY679_.jpg" alt="Gwiezdne wojny: część III – Zemsta Sithów" class="thumb">

      <br />

      <img [class.show]="numerWybranegoObrazka ==0" src="https://images-na.ssl-images-amazon.com/images/I/A1wnJQFI82L._SY679_.jpg" alt="Gwiezdne wojny: część IV – Nowa nadzieja" class="preview">
      <img [class.show]="numerWybranegoObrazka ==1" src="https://images-na.ssl-images-amazon.com/images/I/71tglII26nL._SY679_.jpg" alt="Gwiezdne wojny: część V – Imperium kontratakuje" class="preview">
      <img [class.show]="numerWybranegoObrazka ==2" src="https://images-na.ssl-images-amazon.com/images/I/51UdiBUkerL.jpg" alt="Gwiezdne wojny: część VI – Powrót Jedi" class="preview">
      <img [class.show]="numerWybranegoObrazka ==3" src="https://images-na.ssl-images-amazon.com/images/I/51dnPvQrJ6L.jpg" alt="Gwiezdne wojny: część I – Mroczne widmo" class="preview">
      <img [class.show]="numerWybranegoObrazka ==4" src="https://m.media-amazon.com/images/M/MV5BMDAzM2M0Y2UtZjRmZi00MzVlLTg4MjEtOTE3NzU5ZDVlMTU5XkEyXkFqcGdeQXVyNDUyOTg3Njg@._V1_.jpg" alt="Gwiezdne wojny: część II – Atak klonów" class="preview">
      <img [class.show]="numerWybranegoObrazka ==5" src="https://images-na.ssl-images-amazon.com/images/I/61nAp2cNlbL._SY679_.jpg" alt="Gwiezdne wojny: część III – Zemsta Sithów" class="preview">


  </ul>
</div>
<br>

