nav {
  width: auto;
}

a {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #888888;
  background-color: #424242;
  font-size: 2em;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  text-shadow: 2px #000000;
}

a:hover {
  color: #1a1a1a;
  background-color: #ffc500;
}

a.active {
  background-color: #ffc500;
  color: #2b2b2b;
}
